*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira sans", sans-serif;
}

:root{
  --dark: #374151;
  --darker: #1F2937;
  --darkest: #111827;
  --gray: #6B7280;
  --light: #EEE;
  --pink: #EC4899;
  --purple: #8B5CF6;
  --green: #008000;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--dark);
  color: var(--light);
}

header{
  padding: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0px auto;
}

header h1{
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
  color: var(--gray);
}

#new-Task-form{
  display: flex;
  align-items: center;
}

input, button{
  border: none;
  outline: none;
  background: none;
  appearance: none;
}

#new-TaskList{
  flex: 1 1 0%;
  background: var(--darker);
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 0.7rem;
  color: var(--light);
}
 
#new-TaskList::placeholder{
  color: var(--gray);
}

#add-Task{
  color: var(--pink);
  background: var(--darker);
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s ease;
}

#add-Task:hover{
  opacity: 0.8;
}

#add-Task:active{
  opacity: 0.5;
}


.filter{
  padding: rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0px auto;
}

.task-list h3{
  font-size: 2rem;
  font-weight: 300;
  color: var(--gray);
}

#search{
  flex: 1 1 0%;
  background: var(--darker);
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 0.7rem;
  color: var(--light);
  width: 100%;;
}

/*  */
main{
  flex: 1 1 0%;
  padding: 0px 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0px auto;
}

.task-list {
  padding: 1rem;
}

.task-list .header-Tasks{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
}

.task-list h2{
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--gray);
  padding-bottom: 1rem;
}

.sort-Tasks{
  padding: 0.7rem;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
  border-radius: 10px;
  color: var(--pink);
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
  background: var(--darker);
}

.selected {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

.selected::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.7rem;
  background: var(--pink);
  cursor: pointer;
  pointer-events: none;
}

#Tasks .task{
  display: flex;
  justify-content: space-between;
  background: var(--darkest);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

#Tasks .task .content .text{
  color: var(--light);
  font-size: 1.125rem;
  width: 180%;
  display: block;
  transition: 0.2s ease;
}

#Tasks .task .content .text:not(:read-only){
  color: var(--pink);
}

#Tasks .task .actions {
  display: flex;
}

#Tasks .complete{
  opacity: 0.55;
}

.task .actions i{
  cursor: pointer;
  margin: 0px 0.6rem;
  font-size: 1.1rem;
  transition: 0.2s ease;
}

.check{
  color: var(--green);
}

.edit{
  color: var(--pink);
}

.delete{
  color: crimson;
}

.check:hover{
  opacity: 0.8;
}

.check:active{
  opacity: 0.54;
}

.edit:hover{
  opacity: 0.8;
}

.edit:active{
  opacity: 0.54;
}

.delete:hover{
  opacity: 0.8;
}

.delete:active{
  opacity: 0.54;
}

 